{{ define "main" }}

<header class="page-header">
  <h1>{{ .Title }}</h1>
  {{- if .Description }}
  <div class="post-description">
    {{ .Description }}
  </div>
  {{- end }}
</header>

<div id="searchbox">
  <input id="searchInput" autofocus placeholder="Search" aria-label="search" type="search" autocomplete="off">
  <ul id="searchResults" aria-label="search results"></ul>
</div>

<!-- Load Fuse.js directly, not deferred -->
<script src="https://cdn.jsdelivr.net/npm/fuse.js@6.6.2"></script>

<!-- Load our search script after Fuse.js -->
<script src="{{ "js/fastsearch.js" | absURL }}"></script>

{{ end }} 