{{- define "main" }}

<article class="post-single">
  <header class="post-header">
    <h1 class="post-title">{{ .Title }}</h1>
    {{- if .Description }}
    <div class="post-description">
      {{ .Description }}
    </div>
    {{- end }}
  </header>

  <div class="post-meta">
    <span>{{ .Date.Format "January 2, 2006" }}</span>
    {{- if .Params.tags }}
    <div class="post-tags">
      {{- range $index, $tag := .Params.tags }}
      {{- $tagURL := printf "/tags/%s/" (urlize $tag) }}
      <a href="{{ $tagURL }}">#{{ $tag }}</a>
      {{- end }}
    </div>
    {{- end }}
  </div>

  <div class="post-content">
    {{- if not (.Param "disableAnchoredHeadings") }}
    {{- partial "anchored_headings.html" .Content -}}
    {{- else }}{{ .Content }}{{ end }}
  </div>

  <footer class="post-footer">
    {{- if (.Param "ShowPostNavLinks") }}
    {{- partial "post_nav_links.html" . }}
    {{- end }}
    {{- if (and site.Params.ShowShareButtons (ne .Params.disableShare true)) }}
    {{- partial "share_icons.html" . -}}
    {{- end }}
  </footer>

  {{- if (.Param "comments") }}
  {{- partial "comments.html" . }}
  {{- end }}
</article>

{{- end }}{{/* end main */}} 